@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,400,500|IBM+Plex+Sans:400,600');
@import url('./normalize.css');
@import url('./variables.css');
@import url('./media-queries.css');

:root {
  font-size: 16px; 
}

.logo {
  fill: var(--background-color);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.menu {
  color: var(--text-color);  
  padding-right: 3px;
}

.menu::before {
  content: "☰";
}

.title {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 2.25rem;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 29px;
}

.main p {
  font-family: var(--font-mono); 
  font-size: 0.875rem;
  line-height: 1.375rem; 
  padding: 1rem 0 2.25rem;
}

.big-container {
  padding: 0 1rem; 
}

.logo-container {
  width: 24px;
  height: 24px;
}

.sections {
  display: none;
}

.menu:hover .sections {
  display: flex;
}

.newline-big-screen {
  display: block;
}

.newline-small-screen {
  display: inline;
}

.suscribe {
  font-family: var(--font-mono);
  padding: 13px 0;  
  text-transform: uppercase;
  background-color: var(--secondary-color);   
}

@media only screen and (min-device-width: 1024px) {
  
  nav {
    display: flex;
    justify-content: space-between; 
    padding: 22px 0;
  }

  .big-container {
    padding: 0 100px;
  }

  .logo-container {
    width: 36px;
    height: 36px;
  }

  .menu {
    display: none;
  }

  .menu::before {
    content: "";
  }

  .main {
    padding: 7.5rem 6.25rem;
  }

  .main p {
    padding: 0 0 3.5rem 0;
    font-size: 1rem;
  }
  
  .title {
    font-size: 4rem;
  }
  .newline-big-screen {
    display: inline;
  }

  .newline-small-screen {
    display: block;
  }

  .sections {
    display: flex;
    justify-content: space-between;    
    font-family: var(--font-mono);
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1.75rem;
  }

  .sections > li {
    font-weight: 400;  
  }

  .sections li:first-child {
    padding-right: 3rem;
  }

  .sections li:last-child {
    padding-left: 3rem;
  }

  .sections li:nth-child(3) {
    padding-left: 3rem;
  }

  .suscribe {
    padding: 16px 3rem;
    width: fit-content;
    font-size: 1.125rem;
  }

}
